
@{
    Layout = "_LayoutTesting";
}

<h1>Testing Latihan</h1>
<div class="container">
    <div class="row border">
        <div class="col border" id="satu">
            HA
            HH
        </div>
        <div class ="col row">  
            <div class="border" id="dua">
                UP
            </div>
            <div class="border" id="tiga">
                UP
            </div>
        </div>
    </div>
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button id="btn1" type="button" class="btn btn-danger">Satu</button>
        <button id="btn2" type="button" class="btn btn-warning">Dua</button>
        <button id="btn3" type="button" class="btn btn-success">Tiga</button>
        <button id="btn4" type="button" class="btn btn-success">Body</button>
    </div>
</div>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

